body
    #background
         img(src="assets/img/background6.png")
    #page-wrapper
        header.header
                ul
                    li
                        p 
                            a(href='about.html')  MINUST
                        p 
                            a(href='work.html')  PORTFOOLIO

        include aboutinclude
        
        footer.footer
            .container
                ul
                    li
                        p EMAIL :
                            a(href='mailto:kevin.lehtla@tptlive.ee')  KEVIN . LEHTLA @ TPTLIVE . EE
                        p TEL :
                            a(href='javascript:void(0)')  +372 5648 7202
                        p ESTONIA