body
    #background
         img(src="assets/img/background.png")
    #page-wrapper
        .container-fluid
            .row
                .col-lg-6
                    h2 
                        a MINUST
                .col-lg-6.text-right
                      a(href='')
                        a TÖÖD
            .row
                .col-lg-6
                    h2 
                        a MINUST
                .col-lg-6.text-right
                      a(href='')
                        a TÖÖD


