body
    #background
         img(src="assets/img/background4.png")
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12.text-center.placeholder
                    h2
                        a(href='') Veebileht on ehitamisel !

