body
	.grid-section
		.content.grid-container(style='width:100%;')
			#grid2
				{% for post in site.posts %}
				.media-box
					.media-box-image.mb-open-popup
						div(data-width='240', data-height='151', data-thumbnail='assets/img/posts/thumbnails/{{post.thumbnail}}')
						a(href="/articles.html")
							.thumbnail-overlay
								.media-box-title {{post.title}}
								.media-box-date {{post.date | date: '%B %d, %Y' }}
				{% endfor %}