.content.grid-container
	.portfolio-images
		.grid-image
			a(href='assets/img/Flat-Design-Sunset-text-min.png' class="fancybox")
				img(src="assets/img/Flat-Design-Sunset-text-min.png" alt="image" class="portfolio-img portfolio-image-1" data-popup='assets/img/Flat-Design-Sunset-text-min.png')
				.grid-text
					h3 Sunset
					p Sunset Flat Vector Art</br> Graphic Design 
		.grid-image
			a(href='https://www.behance.net/gallery/45457493/Flat-Scenery-Icons' target="_blank" class="fancybox")
				img(src="assets/img/Scenery-Flat-Design-min.png" alt="image" class="portfolio-img portfolio-image-2" data-popup='assets/img/instagram/6tag_171015-162635.jpg')
				.grid-text
					h3 Scenery Flat Icons
					p 4 Different Scenery Icons</br> Graphic Design 
		.grid-image
			a(href='https://www.behance.net/gallery/45457037/Corporate-WP-Site' target="_blank" class="fancybox")
				img(src="assets/img/wintermediagroupsite.jpg" alt="image" class="portfolio-img portfolio-image-1" data-popup='assets/img/instagram/6tag_171015-162635.jpg')
				.grid-text
					h3 Winter Media Group
					p Corporate WP site</br> www.wintermediagroup.com
		//- .grid-image
		//- 	a(href='https://www.facebook.com/kevin.lehtla' class="fancybox")
		//- 		img(src="assets/img/Blue_Spring_Kevin_Lehtla-min.png" alt="image" class="portfolio-img portfolio-image-1" data-popup='assets/img/instagram/6tag_171015-162635.jpg')
		//- 		.grid-text
		//- 			h3 Sunset
		//- 			p Sunset Flat Vector Art</br> Graphic Design 
		.grid-image
			a(href='assets/img/Flat-Design-Sunset-text-min.png')
				img(src="assets/img/logod/puredomus1200-min.png" alt="image" class="portfolio-img portfolio-image-1" data-popup='assets/img/Flat-Design-Sunset-text-min.png')
				.grid-text
					h3 Pure Domus
					p Eco-Friendly Interior Shop</br> www.puredomus.com
		//- .grid-image
		//- 	a(href='https://www.facebook.com/kevin.lehtla' class="fancybox")
		//- 		img(src="assets/img/Timeless_Space_flat_Kevin_Lehtla-min.png" alt="image" class="portfolio-img portfolio-image-2" data-popup='assets/img/instagram/6tag_171015-162635.jpg')
		//- 		.grid-text
		//- 			h3 Sunset
		//- 			p Sunset Flat Vector Art</br> Graphic Design 
		.grid-image
			a(href='http://spanishfoodculture.com' class="fancybox")
				img(src="assets/img/spanishfood.jpg" alt="image" class="portfolio-img portfolio-image-1" data-popup='assets/img/instagram/6tag_171015-162635.jpg')
				.grid-text
					h3 Spanish Food Culture
					p Personal Project & Testing Site</br> www.spanishfoodculture.com
		//- .grid-image
		//- 	a(href='https://www.facebook.com/kevin.lehtla' class="fancybox")
		//- 		img(src="assets/img/Blue_Spring_Kevin_Lehtla-min.png" alt="image" class="portfolio-img portfolio-image-1" data-popup='assets/img/instagram/6tag_171015-162635.jpg')
		//- 		.grid-text
		//- 			h3 Sunset
		//- 			p Sunset Flat Vector Art</br> Graphic Design 
				
