#js-grid-agency.cbp.cbp-l-grid-agency

	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Flat-Design-Sunset-text-min.png', data-title='Flat Sunset Design Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/Flat-Design-Sunset-text-min.png', alt='Flat Sunset Design Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title FLAT SUNSET DESIGN

	.cbp-item.web-design
			a(href='https://www.behance.net/gallery/45457493/Flat-Scenery-Icons' target="_blank" data-title='Flat Scenery Icons Image')
				.cbp-caption
					.cbp-caption-defaultWrap
						img(src='assets/img/Scenery-Flat-Design-min.png', alt='Flat Scenery Icons Image')
					.cbp-caption-activeWrap
						.cbp-l-caption-alignCenter
							.cbp-l-caption-body
								.cbp-l-caption-title FLAT SCENERY ICONS
							
	.cbp-item.web-design
			a(href='https://www.behance.net/gallery/45457037/Corporate-WP-Site' target="_blank" data-title='Flat Scenery Icons Image')
				.cbp-caption
					.cbp-caption-defaultWrap
						img(src='assets/img/wintermediagroupsite.jpg', alt='Corporate Wordpress Site Image')
					.cbp-caption-activeWrap
						.cbp-l-caption-alignCenter
							.cbp-l-caption-body
								.cbp-l-caption-title WINTER MEDIA GROUP WEBSITE
								
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Creative-design-kevin.png', data-title='Creative Design Banner Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/Creative-design-kevin.png', alt='Creative Design Banner Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Creative Design Banner
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/logod/puredomus1200-min.png', data-title='Pure Domus Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/logod/puredomus1200-min.png', alt='Pure Domus Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title PURE DOMUS LOGO & WEBSITE
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/spanishfood.jpg', data-title='SpanishFoodCulture Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/spanishfood.jpg', alt='SpanishFoodCulture Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title SPANISHFOODCULTURE PROJECT
						
