.content.grid-container.gallerycontainer
	.filters-container
		input#search2.media-boxes-search(type='text', placeholder='Otsing...')
		#filter2.media-boxes-drop-down
			.media-boxes-drop-down-header
			ul.media-boxes-drop-down-menu
				li
					a.selected(href='#', data-filter='*') Kõik
				li
					a(href='#', data-filter='.category1') Veebilehed
				li
					a(href='#', data-filter='.category2') Disain
				li
					a(href='#', data-filter='.category3') Vaba-aeg
	#grid2
		.media-box.category1(data-columns='2')
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/northmenkohvikthumb.png')
				div(data-popup='assets/img/veebilehed/northmenkohvik.jpg')
				.thumbnail-overlay
					.media-box-title Northmen Kohvik
					.media-box-text Müüdud projekt
					i.fa.fa-plus.mb-open-popup
					a(href='http://northmen.ee/' target="_blank")
						i.fa.fa-arrow-right

		//-------------------------- BOX MARKUP --------------------------
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/cassata.png')
				div(data-popup='assets/img/veebilehed/cassata.jpg')
				.thumbnail-overlay
					.media-box-title Restoran Cassata 2014-2015
					.media-box-text Müüdud projekt
					i.fa.fa-plus.mb-open-popup
					a(href='http://www.cassata.ee/' target="_blank")
						i.fa.fa-arrow-right
		//-------------------------- BOX MARKUP --------------------------
		.media-box.category2
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/logod/Viking_black_logo.png')
				div(data-popup='assets/img/logod/Viking_black_logo.png')
				.thumbnail-overlay
					.media-box-title Northmen Kohvik logo
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		//-------------------------- BOX MARKUP --------------------------
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/KohvikTest1.PNG')
				div(data-popup='assets/img/veebilehed/KohvikTest1.jpg')
				.thumbnail-overlay
					.media-box-title Northmen Kohvik Disain-2
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category3
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/vaba-aeg/Minu Nimi Photoshopis.png')
				div(data-popup='assets/img/vaba-aeg/Minu Nimi Photoshopis.jpg')
				.thumbnail-overlay
					.media-box-title Vabaaeg 
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		//-------------------------- BOX MARKUP --------------------------
		.media-box.category3
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/vaba-aeg/noortekas.jpg')
				div(data-popup='assets/img/vaba-aeg/noortekas.jpg')
				.thumbnail-overlay
					.media-box-title Vabaaeg
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		//-------------------------- BOX MARKUP --------------------------
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/DIY_1.png')
				div(data-popup='assets/img/veebilehed/DIY_1.jpg')
				.thumbnail-overlay
					.media-box-title Kooliprojekt
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		//-------------------------- BOX MARKUP --------------------------
		.media-box.category1(data-columns='2')
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/completecrew.png')
				div(data-popup='assets/img/veebilehed/completecrew.jpg')
				.thumbnail-overlay
					.media-box-title Completecrew.ee
					.media-box-text MTÜ Projekt
					i.fa.fa-plus.mb-open-popup
					a(href='http://completecrew.ee/' target="_blank")
						i.fa.fa-arrow-right
		//-------------------------- BOX MARKUP --------------------------
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/DIY_2.png')
				div(data-popup='assets/img/veebilehed/DIY_2.jpg')
				.thumbnail-overlay
					.media-box-title Kooliprojekt
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/Eksam_2.png')
				div(data-popup='assets/img/veebilehed/Eksam_2.jpg')
				.thumbnail-overlay
					.media-box-title Kooliprojekt
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category1(data-columns='2')
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/Praktika Hispaanias/Draft-SunsetForMiddle.jpg')
				div(data-popup='assets/img/veebilehed/Praktika Hispaanias/Draft-SunsetForMiddle.jpg')
				.thumbnail-overlay
					.media-box-title Spanish Practical
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/flowershop.png')
				div(data-popup='assets/img/veebilehed/flowershop.jpg')
				.thumbnail-overlay
					.media-box-title Kooliprojekt
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/Eksam_1.png')
				div(data-popup='assets/img/veebilehed/Eksam_1.jpg')
				.thumbnail-overlay
					.media-box-title Kooliprojekt
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/Praktika Hispaanias/DraftBlueBackground.jpg')
				div(data-popup='assets/img/veebilehed/Praktika Hispaanias/DraftBlueBackground.jpg')
				.thumbnail-overlay
					.media-box-title Spanish Practical
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category3
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/vaba-aeg/Liisa in the heaven.jpg')
				div(data-popup='assets/img/vaba-aeg/Liisa in the heaven.jpg')
				.thumbnail-overlay
					.media-box-title Vabaaeg
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category3
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/vaba-aeg/BleedeagleBlack.png')
				div(data-popup='assets/img/vaba-aeg/BleedeagleBlack.png')
				.thumbnail-overlay
					.media-box-title Vabaaeg
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category3(data-columns='2')
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/vaba-aeg/Küünla pictograph Kevin Lehtla MA-12.jpg')
				div(data-popup='assets/img/vaba-aeg/thumbs/Küünla pictograph Kevin Lehtla MA-12.jpg')
				.thumbnail-overlay
					.media-box-title Vabaaeg
					i.fa.fa-plus.mb-open-popup
					a(href='#')
		.media-box.category1
			.media-box-image(data-overlay-effect='direction-aware')
				div(data-width='240', data-height='160', data-thumbnail='assets/img/veebilehed/thumbs/Eksam_3.png')
				div(data-popup='assets/img/veebilehed/Eksam_3.jpg')
				.thumbnail-overlay
					.media-box-title Kooliprojekt
					i.fa.fa-plus.mb-open-popup
					a(href='#')