#js-grid-agency.cbp.cbp-l-grid-agency

	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Flat-Design-Sunset-text-min.png', data-title='Flat Sunset Design Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/Flat-Design-Sunset-text-min.png', alt='Flat Sunset Design Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title FLAT SUNSET DESIGN

	.cbp-item.web-design
			a(href='https://www.behance.net/gallery/45457493/Flat-Scenery-Icons' target="_blank" data-title='Flat Scenery Icons Image')
				.cbp-caption
					.cbp-caption-defaultWrap
						img(src='assets/img/Scenery-Flat-Design-min.png', alt='Flat Scenery Icons Image')
					.cbp-caption-activeWrap
						.cbp-l-caption-alignCenter
							.cbp-l-caption-body
								.cbp-l-caption-title FLAT SCENERY ICONS
							
	.cbp-item.web-design
			a(href='https://www.behance.net/gallery/45457037/Corporate-WP-Site' target="_blank" data-title='Flat Scenery Icons Image')
				.cbp-caption
					.cbp-caption-defaultWrap
						img(src='assets/img/wintermediagroupsite.jpg', alt='Corporate Wordpress Site Image')
					.cbp-caption-activeWrap
						.cbp-l-caption-alignCenter
							.cbp-l-caption-body
								.cbp-l-caption-title WINTER MEDIA GROUP WEBSITE
								
	.cbp-item.graphic-design
			a.cbp-lightbox(href='assets/img/LowPoly600x600.png' target="_blank" data-title='Low Poly Profile')
				.cbp-caption-defaultWrap
					img(src='assets/img/LowPoly600x600.png', alt='Low Poly Profile')
				.cbp-caption-activeWrap
					.cbp-l-caption-alignCenter
						.cbp-l-caption-body
							.cbp-l-caption-title Low Poly Profile - 404 Polygons
								
								
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Creative-Design-Kevin.png', data-title='Creative Design Banner Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/Creative-Design-Kevin.png', alt='Creative Design Banner Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Creative Design Banner
						
	.cbp-item.web-design
			a(href='http://citykeeltekool.ee' target="_blank" data-title='citykeeltekool Website')
				.cbp-caption
					.cbp-caption-defaultWrap
						img(src='assets/img/citykeeltekool.png', alt='citykeeltekool Website')
					.cbp-caption-activeWrap
						.cbp-l-caption-alignCenter
							.cbp-l-caption-body
								.cbp-l-caption-title 2017 Citykeeltekool Website Design
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Creative-Business-Banner.png', data-title='Creative Business Banner')
			.cbp-caption-defaultWrap
				img(src='assets/img/Creative-Business-Banner.png', alt='Creative Business Banner Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Creative Design Banner						
						
	.cbp-item.graphic-design
		a(href='http://puredomus.com' target="_blank" data-title='Pure Domus Website')
			.cbp-caption
				.cbp-caption-defaultWrap
					img(src='assets/img/Pure Domus Website.png', alt='Pure Domus Image')
				.cbp-caption-activeWrap
					.cbp-l-caption-alignCenter
						.cbp-l-caption-body
							.cbp-l-caption-title PURE DOMUS LOGO & WEBSITE
							
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Floral-Banner-Design_v2.png', data-title='Floral Banner / 2')
			.cbp-caption-defaultWrap
				img(src='assets/img/Floral-Banner-Design_v2.png', alt='Floral Banner Image 2')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Floral Blog Article Banner / 2
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/spanishfood.jpg', data-title='SpanishFoodCulture Image')
			.cbp-caption-defaultWrap
				img(src='assets/img/spanishfoodcover.jpg', alt='SpanishFoodCulture Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title SPANISHFOODCULTURE PROJECT
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Inga-ja-Toomas-A2.jpg', data-title='Inga ja Toomas Meie Pere Joulud')
			.cbp-caption-defaultWrap
				img(src='assets/img/Inga-ja-Toomas-event.jpg', alt='Inga ja Toomas Meie Pere Joulud')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Inga ja Toomas - "Meie Pere Jõulud" Event
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Floral-Banner-Design.png', data-title='Floral Banner')
			.cbp-caption-defaultWrap
				img(src='assets/img/Floral-Banner-Design.png', alt='Floral Banner Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Floral Blog Article Banner					
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Koit-ja-Maria-A2.png', data-title='Koit ja Maria Event')
			.cbp-caption-defaultWrap
				img(src='assets/img/Koit-ja-Maria-event.png', alt='Koit ja Maria Event')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Koit Toome ja Maria Listra "Jõulugala 2016"
						
	.cbp-item.graphic-design
		a.cbp-caption.cbp-lightbox(href='assets/img/Portfolio-4-Blog-Banner.png', data-title='Blog Banner - How to')
			.cbp-caption-defaultWrap
				img(src='assets/img/Portfolio-4-Blog-Banner-crop.png', alt='Blog Banner Image')
			.cbp-caption-activeWrap
				.cbp-l-caption-alignCenter
					.cbp-l-caption-body
						.cbp-l-caption-title Blog Banner - Clean & Simple
