body
    #background
    //- img(src="assets/img/background6.png")
    #page-wrapper
        header.header
            .row.basic-sticky
                p
                    a.headerlogo(href="javascript:void(0)") KEVIN LEHTLA
                ul
                    li
                        p 
                            a(href='#minust')  MINUST
                        p 
                            a(href='#portfoolio')  PORTFOOLIO
                        p 
                            a(href='#sotsiaalmeedia')  SOTSIAALMEEDIA