body
    #background
    //- img(src="assets/img/background6.png")
    #page-wrapper
        header.header
            .row.basic-sticky
                p
                    a.headerlogo(href="http://kevinlehtla.ee/") KEVIN LEHTLA
                ul
                    li
                        p 
                            a(href='#minust')  ABOUT
                        p 
                            a(href='#sotsiaalmeedia')  SOCIAL MEDIA
                        p 
                            a(href='#portfoolio')  PORTFOLIO
                        //- p 
                        //-     a(href='{{ site.url }}/articles.html')  BLOGI
