body
    #background
    //- img(src="assets/img/background6.png")
    #page-wrapper
        header.header
            .row.basic-sticky
                p
                    a.headerlogo(href="http://kevinlehtla.ee/") KEVIN LEHTLA
                ul
                    li
                        p 
                            a(href='http://kevinlehtla.ee/')  PEALEHT
                        p 
                            a(href='{{ site.url }}/articles.html')  BLOGI