.content.grid-container
	//- .filters-container
	//- 	input#search.media-boxes-search(type="text", placeholder="Otsing...")
	//- 	ul#filter.media-boxes-filter
	//- 		li
	//- 			a.selected(href="#", data-filter="*") Kõik
	//- 		li
	//- 			a(href="#", data-filter=".category1") Sotsiaalmeedia
	#grid
		.media-box.category1
			.media-box-image
				div(data-width="1", data-height="1", data-thumbnail="assets/img/post-2.jpg")
				a(href="https://www.youtube.com/user/stoneskin200/feed")
					.thumbnail-overlay.overlay-always-visible.red
						.media-box-big-icon
							span.fa.fa-youtube-play
						.media-box-title.white YOUTUBE
		.media-box.category1
			.media-box-image
				div(data-width='1', data-height='1', data-thumbnail='assets/img/post-2.jpg')
				a(href='https://www.facebook.com/kevinlehtladisain')
					.thumbnail-overlay.overlay-always-visible.blue
						.media-box-big-icon
							span.fa.fa-facebook
						.media-box-title.white Facebook
						
		.media-box.category1
			.media-box-image
				div(data-width='1', data-height='1', data-thumbnail='assets/img/post-2.jpg')
				a(href='https://www.instagram.com/kevvu_l/')
					.thumbnail-overlay.overlay-always-visible.light-brown
						.media-box-big-icon
							span.fa.fa-instagram
						.media-box-title.white Instagram
						
		//- .media-box.category1
		//- 	.media-box-image
		//- 		div(data-width="1", data-height="1", data-thumbnail="assets/img/post-2.jpg")
		//- 			.thumbnail-overlay.overlay-always-visible.blue
		//- 				.media-box-big-icon
		//- 					span 
		//- 						a.cv(href="assets/img/Kevin_Lehtla_1148894_cvkeskus.pdf" target="_blank") CV
		//- 				.media-box-title.white 
		
		.media-box.category1
			.media-box-image
				div(data-width="1", data-height="1", data-thumbnail="assets/img/post-2.jpg")
				a(href="mailto:kevin.lehtla@tptlive.ee")
					.thumbnail-overlay.overlay-always-visible.green
						.media-box-big-icon
							span.fa.fa-envelope
						.media-box-title.white E-MAIL
