body
	#page-wrapper.home-wrapper
		.container
			.row
				.col-sm-3.text-left.no-float
				.col-xs-8.col-sm-6.no-float.homefloat.big
					.name-box
						hr
						h2.fromleft KEVIN
						h2.fromright LEHTLA
						h1 Portfoolio
						hr
				.col-sm-3

			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.intro#minust.col-xs-6
					.name-box-small
						img(src="assets/img/mina.png" alt="image" id="mina")
						.minustText
							h3 Hey !
							p Minu nimi on Kevin Lehtla. Õppinud olen Tallinna Polütehnikumis Multimeediumit (Veebispetsialist) ja nüüdseks edasi spetsialiseerunud Veebidisainis. Uued väljakutsed motiveerivad mind arendama oma oskusi erialaselt ja pürgima kõrgemale karjääriredelil. Kogemusepagas on nüüdseks veidi üle viie aasta ja olen avatud erinevatele tööpakkumistele. Peale disainimise ja veebilehtede valmistamise armastan vabal ajal ka tegeleda tantsimise, laulmise ja üldise spordiga.
							i Eelistan valmistada disaine/veebilehti, kuid oskan ka palju enamat.
				.col-sm-3

			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.small#sotsiaalmeedia.col-xs-6
					.name-box-small
						hr
						h2 Sotsiaalmeedia
						hr
				.col-sm-3

			.row.boxrow
				.col-sm-3
				.col-sm-6.col-xs-6
					include homegrid
				.col-sm-3

			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.small#portfoolio.col-xs-6
					.name-box-small
						hr
						h2 Portfoolio
						hr
				.col-sm-3

			.row.galleryrow
				.col-sm-3

				.col-sm-6.gallerybox.col-xs-6
					include gallery
				.col-sm-3

			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.small#sotsiaalmeedia.col-xs-6
					.name-box-small
						hr
						h2 Toeta mind! Klikka reklaamile
						.areaforad
							script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
							ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3209964011213672', data-ad-slot='5428758349', data-ad-format='auto')
							script.
								(adsbygoogle = window.adsbygoogle || []).push({});
						hr
				.col-sm-3		