body
	#page-wrapper.home-wrapper
		.container
			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.big
					.name-box
						hr
						h2 KEVIN
						h2 LEHTLA
						h1 Portfoolio
						hr
				.col-sm-3

			.row
				.col-sm-3.text-left.no-float
				.col-sm-1 
					img(src="assets/img/mina.png" alt="image" id="mina")
				.col-sm-5.no-float.homefloat.intro#minust
					.name-box-small

						h3 Hey !
						p Minu nimi on Kevin Lehtla.Õppinud Tallinna Polütehnikumis erialal Multimeedia (Veebispetsialist) ja nüüdseks edasi spetsialiseerunud Veebidisaini alal.Uued väljakutsed motiveerivad mind ja arendan oma oskusi erialaselt igapäevaselt.  Kogemusepagas on umbes 5 aastat. Siis kui käed ja jalad ei ole täis tööd armastan tegeleda vabal ajal tantsimise ja laulmisega.
						i Eelistan valmistada disaine/veebilehti kuid oskan ka palju enamat.
				.col-sm-3		

			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.small#sotsiaalmeedia
					.name-box-small
						hr
						h2 Sotsiaalmeedia
						hr
				.col-sm-3

			.row.boxrow
				.col-sm-3
				.col-sm-6
					include homegrid
				.col-sm-3

			.row
				.col-sm-3.text-left.no-float
				.col-sm-6.no-float.homefloat.small#portfoolio
					.name-box-small
						hr
						h2 Portfoolio
						hr
				.col-sm-3

			.row.galleryrow
				.col-sm-3

				.col-sm-6.gallerybox
					include gallery
				.col-sm-3