
@import "0-tools/bootstrap.min"
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,600|Open+Sans+Condensed:300|Dancing+Script&subset=latin,latin-ext')
@import url('../fonts/font-awesome.css')


@font-face
	font-family: BasicTitle
	src: url('../fonts/basictitlefont.ttf')

h2,h3
	font-family: 'BasicTitle','Poiret One', cursive
h1
	font-family: 'Dancing Script', cursive!important
p,a
	font-size: 0.8em
html,body
	min-height: 100%
	background: initial
a:hover
	text-decoration: none
#background img
	transform: scale(1.0)
	min-height: 100%
	min-width: 1024px
	z-index: -10
	width: 100%
	height: auto
	position: fixed
	top: 0
	left: 0
.row
	margin-right: 0px
#grid
	.media-box-date
		color: #28ac86
	.media-box-title
		font-size: 19px
		margin-bottom: 20px
	.media-box-container
		-webkit-border-radius: 0px
		-moz-border-radius: 0px
		border-radius: 0px
	.thumbnail-overlay
		background: white
		padding: 20px

.white
	color: #fff!important

.blue
	.media-box-title, .media-box-text
		color: white !important

.light-blue
	.media-box-title, .media-box-text
		color: white !important

.red
	.media-box-title, .media-box-text
		color: white !important

.green
	.media-box-title, .media-box-text
		color: white !important

.blue
	background: #445E9F !important

.light-blue
	background: #55B1E1 !important

.red
	background: #c03636 !important

.green
	background: #399199 !important
.light-brown
	background: #895A4D !important


#filter2 li a.selected
	color: #28ac86

#grid2
	.thumbnail-overlay
		background: #28ac86
		background-color: rgba(40, 172, 134, 0.8)
	.media-box-title, .media-box-date
		color: white
	.fa
		background: transparent
		border: 1px solid white
		color: white
		margin-top: 20px
	.fa-arrow-right
		line-height: 43px !important
	.fa:hover
		background: white !important
		color: #28ac86

#filter3 li a.selected
		background: #09b0dd

#grid3
	.media-box-date
		color: #09b0dd
	.media-box-container
		-webkit-border-radius: 500px !important
		-moz-border-radius: 500px !important
		border-radius: 500px !important
		margin-top: 40px
	.thumbnail-overlay .fa
		background: #09b0dd
		background: #09b0dd !important
		&:hover
			background: #09b0dd !important

.cbp-caption-zoom .cbp-caption-activeWrap
	background-color: rgba(255, 212, 100, 0.9)!important

.cbp-l-caption-title
	font-weight: bold!important
	color: black!important
	font-family: 'Roboto'!important

.media-box-title
	color: white!important

.media-boxes-no-more-entries
	display: none



.media-boxes-search
	float: right


.media-box-container
	-webkit-box-shadow: none !important
	-moz-box-shadow: none !important
	-o-box-shadow: none !important
	-ms-box-shadow: none !important
	box-shadow: none !important






/* Home  because fuck import*/

svg#arrow
	width: 40px
	height: auto
	transform: rotate(90deg)
	cursor: pointer

svg#arrow:hover .circle_fill
		fill: #707070!important
		transition: fill 1s

.smoothscroll
	position: absolute
	width: 100%
	height: 300px
	top: 90vh
	z-index: -99999

.fullheight
	height: 100vh!important

#articles_page
	background: #f5f5f5

#hexagon
	width: 1px
	height: 1px

.portfolio-images
	column-count: 3
	column-gap: 1em

.grid-image img
	display: inline-block
	margin: 0 0 1em
	width: 100%

.grid-image
	position: relative


.cls-1
	fill: #fff

.cls-2
	clip-path: url(#hexagon-mask)

.section-margin
	margin-top: 120px
	background-color: #ffd464

.homefloat.intro p img
	margin-top: -120px


.container
	display: table
	width: 100%
	margin-top: -50px
	padding: 50px 0px 0px 0px
	-moz-box-sizing: border-box
	box-sizing: border-box
	a:hover,.left-side:hover,.right-side:hover
		text-decoration: none
		color: white
		transition: all 0.4s ease-out
.row
	height: 100%
	display: flex
	.col-md-3.no-float,.col-md-9.no-float
		float: none
	.col-md-3
		display: table-cell
	.col-md-9
		display: table-cell
		float: none
	hr
		border: none
		border-top: 3px dotted black
		color: #fff
		height: 1px
		width: 80%
		opacity: 0.2
		margin-bottom: 60px
.col-sm-6
	width: 100%

/* Name Tab */
.homefloat.big
	padding-top: 170px
	text-align: center
	h2
		color: #C3C3C3
		font-size: 10em
		margin: 0
		display: inline
		padding: 5px 0px 0px 30px
	h2:nth-child(3)
		color: #6F6F6F
.homefloat.small
	padding-top: 150px
	text-align: center
	h2
		color: #C3C3C3
		font-size: 6em
		margin: 0
		display: inline
		padding: 5px 0px 0px 30px
	h2:nth-child(3)
		color: #6F6F6F

.homefloat.intro
	padding-bottom: 100px
	font-family: 'Oswald', sans-serif
	font-weight: 300

	h3
		font-size: 20px
		font-weight: 900
		margin: 0
		display: inline
	p
		font-size: 1.25em
		padding-top: 20px
	.name-box-small
		text-align: center

.minustText
	padding-top: 15px

/* Footer */
.footer
	position: absolute
	bottom: 0
	height: 60px
	width: 100%
	text-align: center
	a
		color: grey
		margin: 0px 10px 0px 10px
		font-size: 0.8em
		:hover
			color: #fff
			transition: all 0.2s ease-out
			text-decoration: none
	li
		list-style: none
		p
			display: inline-block


/* Header */
.header
	width: 100%
	height: 100px
	text-align: center
	background: white
	transition: all 0.3s ease
	li
		p
			display: inline-block
	li
		list-style: none
		margin-bottom: 10px
	ul
		margin: auto
		a:hover
			color: #000000
			transition: all 0.2s ease-out
		a:hover::after
			width: 100%
			opacity: 1
		a
			display: inline-block
		a::after
			content: " "
			display: block
			width: 0
			height: 2px
			background: #000
			opacity: 0
			transition: width 0.4s, opacity 0.4s ease-in
	a
		color: grey
		margin: 0px 10px 0px 10px
		font-size: 15px
		text-decoration: none

	.basic-sticky
		background: white
		ul
			padding-top: 35px
.basic-sticky > p
	position: relative
	margin: auto
.basic-sticky > p > a
	font-weight: 900
	font-size: 23px
	transition:all 0.5s
	padding-top: 20px


.shrink
	position: fixed
	top: 0
	width: 100%
	z-index: 100
	header.header
		height: 40px
		transition: all 0.7s ease
	.headerlogo
		font-size: 15px
		transition: all 0.5s ease
	.headerlogo
		padding-top: 0px!important
	.header .basic-sticky ul
		padding-top: 10px!important

/* Boxes */
.boxrow
	margin: auto
	padding-top: 40px
	padding-bottom: 50px
.gallerycontainer
	padding-top: 120px
.gallerybox
	padding-bottom: 200px
.media-box-image a:hover .thumbnail-overlay.overlay-always-visible
	transform: scale(1.05)!important
	-webkit-transition: all 0.5s ease
	transition: all 0.5s ease
.media-boxes-no-more-entries
	margin-top: 50px
#grid2 .thumbnail-overlay
	background-color: rgba(40, 172, 148, 0.8) !important
#grid2 .media-box-image:hover .media-box-thumbnail-container
	-webkit-filter: blur(2px)
	filter: blur(2px)
#grid2 .media-box-text
	color: #FFFFFF
.media-boxes-load-more-button
	margin-top: 50px
#filter2 li a.selected
	color:white!important
.cv
	font-size: 6em
	color: white
	font-weight: bold
	font-family: Arial
.cv:hover
	color: grey
	-webkit-transform: scale(1.05)!important
	transform: scale(1.05)!important
.boxrow
	.media-box-title
		text-transform: uppercase
		font-family: Arial


// Article aka Blog css

.articlethumbnail
	width: 455px
	height: 455px
	margin: auto

.article-wrapper .col-sm-6
	text-align: center
	padding-top: 40px
	height: 1600px
	padding-bottom: 200px

.posts
	width: 45%
	background: white
	padding: 25px 40px 20px 70px
#articles_page .footer
	position: initial
	padding-top: 60px
#articles_page:after
		content: ""
		position: absolute
		z-index: -1
		top: 0
		bottom: 0
		left: 50%
		border-left: 2px dotted #8E8E8E
		height: 1350px
#article-wrapper
	padding-top: 100px
.entry
	text-align: justify
	font-size: 16px
	font-family: roboto
	letter-spacing: 0.2px
.posts h1, .posts .small
	text-align: center

.posts .small
	color: #C1943F
// Change when more articles are made

.posts:first-child, .posts:nth-child(3), .posts:nth-child(5)
	float: left
	margin-bottom: 50px
.posts:nth-child(4), .posts:nth-child(6)
	float: right
	margin-top: 100px
.posts:nth-child(2)
	float: right
	margin-top: 300px





// Animation Css

.posts:first-child, .posts:nth-child(2)
	-webkit-animation-duration: 1.5s
	-webkit-animation-iteration-count: 1
	-webkit-animation-delay: 1s
	animation-delay: 1s
	animation-duration: 1.5s
	animation-iteration-count: 1


#mina
	opacity: 0
	animation-delay: 0s
	animation-duration: 1.5s
	animation-iteration-count: 1
	transition: opacity 0.5s
.minustText
	opacity: 0
	animation-duration: 1.5s
.fromleft
	animation-delay: 1s
	animation-duration: 1.5s
.fromright
	animation-delay: 2s
	animation-duration: 1.5s
.opacity1
	opacity: 1.0!important
.opacity0
	opacity: 0




@media (max-width: 1200px)
	.name-box
		h2
			font-size: 6.5em!important
	.posts
		width: 100%
	#articles_page:after
		height: 1800px
@media (max-width: 992px)
	.name-box

		h2
			font-size: 5em!important

	.posts
		width: 100%
	.posts:nth-child(2)
		margin-bottom: 50px
@media (max-width: 768px)
	.name-box
		h2
			font-size: 5em!important
	.name-box-small
		padding-left: 20px
		text-align: center
	.posts
		width: 100%

	.portfolio-images
		column-count: 2
		column-gap: 1em

@media (max-width: 480px)
	.header
		height: 100%
		width: 100%
		transition: none
		-webkit-transition: none
	.name-box
		h2
			font-size: 3em!important
	.small h2
		font-size: 5em!important
	.shrink
		position: relative!important
	.basic-sticky > p
		padding: 20px

	.portfolio-images
		column-count: 1
		column-gap: 1em

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
		padding-right: 0px
@media (max-width: 370px)
	.basic-sticky > p
		display: none
	.header ul
		margin: none
	.homefloat.big h2
		padding: 0
	.homefloat.small h2
		padding: 0px
		font-size: 3em!important
	.homefloat.intro h3
		font-size: 3em
	.portfolio-images
		column-count: 1
		column-gap: 1em

@media (max-width: 250px)
	.col-xs-8, .col-xs-6
		width: 75%!important
	.homefloat.intro h3
		font-size: 3em
