@import "0-tools/normalize"
@import "0-tools/bourbon/bourbon"
@import "0-tools/bootstrap.min"
@import "0-tools/animsition"
// @import "3-layouts/home"
@import "0-tools/mediaBoxes"
@import "0-tools/magnific-popup"

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans+Condensed:300|Poiret+One|Pacifico|Dancing+Script&subset=latin,latin-ext)
@import url(../fonts/font-awesome.css)
@font-face
	font-family: BasicTitle
	src: url(../fonts/basictitlefont.ttf)

// font-family: 'Oswald', sans-serif
// font-family: 'Open Sans Condensed', sans-serif
// font-family: 'Poiret One', cursive
// font-family: 'Pacifico', cursive
// font-family: 'Dancing Script', cursive
h2,h3
	font-family: 'BasicTitle','Poiret One', cursive
h1
	font-family: 'Dancing Script', cursive!important
p,a 
	font-size: 0.8em
html,body
	min-height: 100%
#background img
	transform: scale(1.0)
	min-height: 100%
	min-width: 1024px
	z-index: -10
	width: 100%
	height: auto
	position: fixed
	top: 0
	left: 0
.row
	margin-right: 0px
#grid
	.media-box-date
		color: #28ac86
	.media-box-title
		font-size: 19px
		margin-bottom: 20px
	.media-box-container
		-webkit-border-radius: 0px
		-moz-border-radius: 0px
		border-radius: 0px
	.thumbnail-overlay
		background: white
		padding: 20px

.white
	color: #fff

.blue
	.media-box-title, .media-box-text
	color: white !important

.light-blue
	.media-box-title, .media-box-text
	color: white !important

.red
	.media-box-title, .media-box-text
	color: white !important

.green
	.media-box-title, .media-box-text
	color: white !important

.blue
	background: #445E9F !important

.light-blue
	background: #55B1E1 !important

.red
	background: #c03636 !important

.green
	background: #399199 !important
.light-brown
	background: #895A4D !important


#filter2 li a.selected
  color: #28ac86

#grid2
	.thumbnail-overlay
		background: #28ac86
		background-color: rgba(40, 172, 134, 0.8)
	.media-box-title, .media-box-date
		color: white
	.fa
		background: transparent
		border: 1px solid white
		color: white
		margin-top: 20px
	.fa-arrow-right
		line-height: 43px !important
	.fa:hover
		background: white !important
		color: #28ac86

#filter3 li a.selected
		background: #09b0dd

#grid3
	.media-box-date
		color: #09b0dd
	.media-box-container
		-webkit-border-radius: 500px !important
		-moz-border-radius: 500px !important
		border-radius: 500px !important
		margin-top: 40px
	.thumbnail-overlay .fa
		background: #09b0dd
		background: #09b0dd !important
		&:hover
			background: #09b0dd !important



.media-boxes-no-more-entries
	display: none



.media-boxes-search
	float: right


.media-box-container
	-webkit-box-shadow: none !important
	-moz-box-shadow: none !important
	-o-box-shadow: none !important
	-ms-box-shadow: none !important
	box-shadow: none !important






/* Home  because fuck import*/ 


.container
	display: table
	width: 100%
	margin-top: -50px
	padding: 50px 0px 0px 0px
	-moz-box-sizing: border-box
	box-sizing: border-box
	a:hover,.left-side:hover,.right-side:hover
		text-decoration: none
		color: white
		transition: all 0.4s ease-out
.row
	height: 100%
	display: flex
	.col-md-3.no-float,.col-md-9.no-float
		float: none
	.col-md-3
		display: table-cell
	.col-md-9
		display: table-cell
		float: none
	hr
		border: none
		border-top: 3px dotted black
		color: #fff
		height: 1px
		width: 80%
		opacity: 0.2
		margin-bottom: 60px

/* Name Tab */
.homefloat.big
	padding-top: 170px
	text-align: center
	h2
		color: #C3C3C3
		font-size: 10em
		margin: 0
		display: inline
		padding: 5px 0px 0px 30px
	h2:nth-child(3)
		color: #6F6F6F
.homefloat.small
	padding-top: 150px
	text-align: center
	h2
		color: #C3C3C3
		font-size: 6em
		margin: 0
		display: inline
		padding: 5px 0px 0px 30px
	h2:nth-child(3)
		color: #6F6F6F

.homefloat.intro
	padding-top: 120px
	padding-bottom: 100px
	text-align: left
	font-family: 'Oswald', sans-serif
	font-weight: 300

	h3
		color: #C3C3C3
		font-size: 5em
		margin: 0
		display: inline
	p 
		font-size: 1.2em
		padding-top: 20px
	.name-box-small
		padding-left: 40px
#mina
	width: 100px
	position: relative
	top: 100px
	left: 50px
	z-index: -10

/* Footer */
.footer
	position: absolute
	bottom: 0
	height: 60px
	width: 100%
	text-align: center
	a
		color: grey
		margin: 0px 10px 0px 10px
		font-size: 0.8em
		:hover
			color: #fff
			transition: all 0.2s ease-out
			text-decoration: none
	li
		list-style: none
		p
			display: inline-block


/* Header */
.header
	width: 100%
	height: 100px
	text-align: center
	background: white
	transition: all 0.3s ease
	li
		p
			display: inline-block
	li
		list-style: none
		margin-bottom: 10px
	ul
		margin: auto
		a:hover
			color: #000000
			transition: all 0.2s ease-out
		a:hover::after
			width: 100%
			opacity: 1
		a
			display: inline-block
		a::after
			content: " "
			display: block
			width: 0
			height: 2px
			background: #000
			opacity: 0
			transition: width 0.4s, opacity 0.4s ease-in
	a
		color: grey
		margin: 0px 10px 0px 10px
		font-size: 15px
		text-decoration: none

	.basic-sticky
		background: white
		ul
			padding-top: 35px
.basic-sticky > p
	position: relative
	margin: auto
.basic-sticky > p > a
	font-weight: 900
	font-size: 23px
	transition:all 0.5s
	padding-top: 20px


.shrink
	position: fixed
	top: 0
	width: 100%
	z-index: 100
	header.header
		height: 40px
		transition: all 0.7s ease
	.headerlogo
		font-size: 15px
		transition: all 0.5s ease
	.headerlogo
		padding-top: 0px!important
	.header .basic-sticky ul
		padding-top: 10px!important

/* Boxes */
.boxrow
	margin: auto
	padding-top: 40px
	padding-bottom: 50px
.gallerycontainer
	padding-top: 120px
.gallerybox
	padding-bottom: 200px
.media-box-image a:hover .thumbnail-overlay.overlay-always-visible
	transform: scale(1.05)!important
	-webkit-transition: all 0.5s ease
	transition: all 0.5s ease
.media-boxes-no-more-entries
	margin-top: 50px
#grid2 .thumbnail-overlay
	background-color: rgba(40, 172, 148, 0.8) !important
#grid2 .media-box-image:hover .media-box-thumbnail-container
	-webkit-filter: blur(2px)
	filter: blur(2px)
#grid2 .media-box-text
	color: #FFFFFF
.media-boxes-load-more-button
	margin-top: 50px



@media (max-width: 1200px)
	.name-box
		h2
			font-size: 6.5em!important
	#mina
		left: 0
		width: 100px
		height: 400px
@media (max-width: 992px)
	.name-box

		h2
			font-size: 5em!important

@media (max-width: 768px)
	.name-box
		h2
			font-size: 4em!important
	#mina
		left: 0
		width: 100px
		height: 100%
	.name-box-small
		padding-left: 20px

@media (max-width: 480px)
	.name-box
		h2
			font-size: 3em!important
	#mina
		left: 0
		width: 100px
		height: 320px
	.name-box-small
		padding-left: 10px!important




